{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	// note you must disable the base rule as it can report incorrect errors
	"rules": {
		// "no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"error",
			{ "argsIgnorePattern": "next" }
		],
		"@typescript-eslint/no-explicit-any": "off"
	}
}
